
/* Original: absolute right-5 top-1/2 -translate-y-1/2 */
.eyeBtn {
  position: absolute;
  right: 60px;
  top: 57%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.eyeBtnConfirm{
    position: absolute;
  right: 60px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  top: 72%;
}
.eyeCurrentBtn{
      position: absolute;
  right: 60px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  top: 42%;
}

/* Original: text-red-500 text-sm ml-[215px] mt-1 */
.errorText {
  color: #ef4444;
  font-size: 13px;
  margin-top: 4px;
  margin-left: 265px;
  line-height: 1.3;
}
