.borderFrame{
 margin-top: 194px;
    align-items: center;
    font-family: "League Spartan";
    
}
.cardRow {
margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;

}

.cardWrapper {
  position: relative;
  width: 180px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.card {
  position: relative;

}


/* TEXT */
.cardText {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "RocaTwo-Bold";
  font-size: 31px;
  color: #0F4F58;
  font-weight: bold;

}

/* TILT */
.leftCard {
  transform: rotate(-6deg);
  margin-top: -85px;
}

.rightCard {
  transform: rotate(6deg);
   margin-top: -85px;
}

/* ARROWS */
.arrowLeft {
  position: absolute;
  top: -30px;
  left: -40px;
}

.arrowRight {
  position: absolute;
  top: -30px;
  right: -40px;
}


/* wrapper INSIDE image */
.infoBarInside {
  position: absolute;
  bottom: -9px;          
  left: 59%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

/* white pill */
.infoBar {
  background: #ffffff;
  width: 641px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Aptos";
  font-size: 15px;
  color: #737373;
  text-align: center;
}

.page {
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.exitToRight {
  transform: translateX(100%);
}

.enterFromLeft {
  transform: translateX(-100%);
}

.enterActive {
  transform: translateX(0);
}
.pathwayWrapper {
  position: relative;
  width: 1031px;
  height: 574px;
  border-radius: 14px;

  /* OUTER BACKGROUND (green area in screenshot) */

  padding: 18px;
  overflow: hidden;
}


