@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBE6BF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  [data-nextjs-dev-overlay] {
    display: none !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.clip-triangle {
  clip-path: polygon(
    0% 0%,
    80% 0%,
    100% 70%,
    0% 100%
  );
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.4s ease-out forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.5s ease-out;
}

/* Custom scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 14px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #c2e2e2;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4ba6a6;
  border-radius: 12px;
}

.custom-scroll {
  scrollbar-width: thick;
  scrollbar-color: #4ba6a6 #c2e2e2;
}

.section-title {
  @apply text-[28px] font-bold text-[#0F4F58] mt-6;
}

.section-text {
  @apply text-2xl leading-none text-[#0F4F58] mt-3 font-normal;
}