.page {
  position: relative;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.enterRight {
  transform: translateX(100%);
}

.enterLeft {
  transform: translateX(-100%);
}

.enterActive {
  transform: translateX(0);
}
